@import '../../../../scss/smart-grid.sass';

.productCard{
	background-color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border: rgba(156, 95, 214, 0.418) solid 1px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(124, 81, 81, 0.61);
	transition: box-shadow .2s, border .2s;	

	&:hover{
		border: rgba(134, 39, 223, 0.575) solid 1px;
		box-shadow: 0px 0px 10px 0px rgba(134, 39, 223, 0.575);
  }
  
  & > * {
    margin: 5px 0;
  }
}

.insideCardMargin{
	// margin: 5px 0;
}

.title{
	font-family: sans-serif;
	font-size: 20px;
}

.imgInCard{
	width: 60%;
}