@import '../../../scss/smart-grid.sass';


//styles for modify component
.cardStyles{
  cursor: pointer;
	margin-bottom: 20px;

	@include col();
	@include size(4);
}

//page styles
.pagePhoneWrapper{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.productsWrapper{
	width: 82%;
	@include row-flex();
}

//--filters

.filtersWrapper{	
	background-color: white;
	border-radius: 20px;
	width: 18%;
}

.filter{

}