@import '../../../../scss/smart-grid.sass';
@import '../../../../scss/vars.scss';

.productCard{
  width: 100%;
  height: 250px;
	background-color: white;
	display: flex;
	align-items: center;
	border-radius: $br;
	
  transition: box-shadow .2s, border .2s;

  margin: 5px 0;
  padding: 15px 25px;

  @media screen and (min-width: 1921px){
    height: 12.5vw;
    border-radius: $br1921;
    margin: .25vw 0;
    padding: .75vw 1.25vw;
  }

  @media screen and (max-width: 1200px){
    height: 25vw;
    border-radius: $br;
    margin: .5vw 0;
    padding: 1.5vw 2.5vw;
  }

  @include sm-block{
    height: 37vw;
    border-radius: $br;
    margin: .75vw 0;
    padding: 2.25vw 2vw;
    // padding: 5vw 2vw;
  }

	&:hover{
    box-shadow: 0px 0px 5px 0px rgba(132, 72, 189, 0.3);
    transform: scale(1.01);

    @media screen and (min-width: 1921px){
      box-shadow: 0px 0px .25vw 0px rgba(132, 72, 189, 0.3);
    }

    @media screen and (max-width: 1200px){
      box-shadow: 0px 0px .5vw 0px rgba(132, 72, 189, 0.3);
    }

    @include sm-block{
      box-shadow: 0px 0px .75vw 0px rgba(132, 72, 189, 0.3);
    }
	}
}

.imgContainer{
  // border: 1px solid red;
  position: relative;
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include sm-block{
    width: 30%;
  }
}

.imgInCard{
  // border: 1px solid red;
  max-width: 100%;
  max-height: 100%;
}

.descriptionBlock{
  margin-left: 30px;

  @media screen and (min-width: 1921px){
    margin-left: 1.5vw;
  }

  @media screen and (max-width: 1200px){
    margin-left: 3vw;
  }

  @include sm-block{
    margin-left: 2.5vw;
  }
}

.priceBlock{
  // border: 1px solid red;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;

  & > *{
    margin: 0;
  }

  & > p {
    font-family: sans-serif;
    font-weight: bold;    
    // font-size: 1.3vw;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: right;

    @media screen and (min-width: 1921px){
      font-size: 1.25vw;
    }

    @media screen and (max-width: 1200px){
      font-size: 2.5vw;
    }

    @include sm-block{
      font-size: 3.75vw;
    }

    & > span{
      font-size: 14px;
      color: black;
      font-style: italic;
      font-weight: 400;

      @media screen and (min-width: 1921px){
        font-size: .7vw;
      }

      @media screen and (max-width: 1200px){
        font-size: 1.4vw;
      }

      @include sm-block{
        font-size: 2.1vw;
      }
    }
  }
}

.title{
  display: inline-block;
  font-family: sans-serif;
  font-size: 25px;
  cursor: pointer;
  color: $lk;

  @media screen and (min-width: 1921px){
    font-size: 1.25vw;
  }

  @media screen and (max-width: 1200px){
    font-size: 2vw;
  }

  @include sm-block{
    font-size: 3vw;
  }

  &:hover{
    color: $hlk;
  }
}

.description{

  & > p{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.15;
    margin: 5px 0;

    @media screen and (min-width: 1921px){
      margin: .25vw 0;
      font-size: .7vw;
    }

    @media screen and (max-width: 1200px){
      margin: .5vw 0;
      font-size: 1.2vw;
    }

    @include sm-block{
      margin: .75vw 0;
      font-size: 1.8vw;
    }

    & > span {
      color: rgb(150, 41, 41);
      font-size: 14px;
      
      @media screen and (min-width: 1921px){
        font-size: .7vw;
      }

      @media screen and (max-width: 1200px){
        font-size: 1.4vw;
      }

      @include sm-block{
        font-size: 2.1vw;
      }
    }
  }
}