@import '../../scss/smart-grid.sass';

.header{
	display: flex;
	align-items: center;
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
	height: 10vh;
	//line-height: 10vh;	
	box-shadow: black;
}

.container_mod{
	width: 100%;
}

.headerWrapper{
  // border: 1px solid black;
  position: relative;  
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2vh;

	h1{
		flex-basis: 40%;
	}

	menu{
    // border: 1px solid red;
		font-family: sans-serif;
    flex-basis: 40%;    
    border-radius: 5px;
    background-color: rgba(109, 109, 223, 0.8);

    overflow: hidden;

		ul{
      // border: 1px solid red;
      width: 100%;
			display: flex;
      justify-content: space-between;
      
      & > a {
        transition: .2s;

        & > li{
          cursor: pointer;
          color: white;
  
          padding: 11px 22px;
        }
      }		
		}
  }
  
  .activeLink{
    background-color: rgb(109, 109, 233);
    box-shadow: inset 3px 3px 10px rgb(97, 97, 228),
      inset -3px -3px 10px rgb(97, 97, 228);
  }

	.cart{
		position: relative;
		font-family: sans-serif;
		flex-basis: 20%;
		text-align: right;
	}
}

.totalInCart{
	position: absolute;
	background-color: red;
	color: cornsilk;
	font-size: 12px;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	line-height: 16px;
	right: -9px;
	bottom: -7px;
	text-align: center;
}

.logo{
	font-family: Helvetica;
	font-style: normal;
	font-size: 4vh;
	color:#FFC000;
	text-shadow: 2px 2px 0 #0e62c9;
	cursor: pointer;
}

.logoParody{
	font-family: sans-serif;
	font-style: italic;
	color: #1D1AB2;
	text-shadow: 1px 1px 10px rgba(6, 37, 111, 0.24);
}

.content{
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
	min-height: calc(100vh - 10vh); //10vh - it's height of header
	padding: 20px 0;
}


//TEST DIV --------------------
.divForTest{
	width: 100%;
	height: 100px;
	background: rgba(0, 0, 0, 0.555);
	//line-height: 100px;
	text-align: center;
}
//the end of TEST DIV-----------

