@import '../../../../scss/vars.scss';

.input{
  font-family: sans-serif;
  width: 40px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 16px;

  background-color: transparent;

  @media screen and (min-width: 1921px){
    width: 2vw;
    font-size: .8vw;
  }
}

.button{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid $border;
  outline: none;
  cursor: pointer;

  @media screen and (min-width: 1921px){
    width: 1.5vw;
    height: 1.5vw;
  }

  &:active{
    box-shadow: none;
    border: 1px solid $border;
  }
  
  &__minus{
    
  }

  &__plus{

  }
}

.disabled{
  border: none;
  box-shadow: none;
  background-color: $inactive;
  cursor: default;

  &:active{
    box-shadow: none;
    border: 1px solid none;
  }
}