.logo {
  font-family: Helvetica;
  font-style: normal;
  font-size: 39px;
  color: #ffc000;
  text-shadow: 2px 2px 0 #0e62c9;
  cursor: pointer;

  @media screen and(min-width: 1921px) {
    font-size: 4vw;
    text-shadow: 0.1vw 0.1vw 0 #0e62c9;
  }

  @media screen and(max-width: 1200px) {
    font-size: 4vw;
    text-shadow: 0.2vw 0.2vw 0 #0e62c9;
  }

  @include xs-block {
    font-size: 7vw;
    text-shadow: 0.5vw 0.5vw 0 #0e62c9;
  }
}

.logoParody {
  font-family: sans-serif;
  font-style: italic;
  color: #1d1ab2;
  text-shadow: 1px 1px 10px rgba(6, 37, 111, 0.24);

  @media screen and(min-width: 1921px) {
    text-shadow: 0.05vw 0.05vw 0.5vw rgba(6, 37, 111, 0.24);
  }

  @media screen and(max-width: 1200px) {
    text-shadow: 0.1vw 0.1vw 1vw rgba(6, 37, 111, 0.24);
  }
}
