closeButton {
	display: none;
	position: relative;

	margin-right: 0;
	margin-left: auto;

	border-radius: $br;
	background-color: $menuBg;

	width: 9vw;
	height: 9vw;

	@include sm-block {
		display: block;
	}

	& > div {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 33%;
		height: 2px;
		background-color: $lb;

		&:first-child {
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&:last-child {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}