@import '../../../../scss/smart-grid.sass';
@import '../../../../scss/vars.scss';

//page styles
.pagePhoneWrapper{	
	display: flex;
  justify-content: space-between;
  
  margin-top: 20px;
  // margin-top: 1vw;
}

.productsWrapper{
  // border: 1px solid red;
	width: 80%;
  @include row-flex();

  margin: -5px 0;
}

.title{
  padding: 10px 20px;
  border-radius: $br;
  background-color: $lb;

  font-family: sans-serif;
  font-size: 35px;
}

//--filters

.filtersWrapper{	
	background-color: $lb;
	border-radius: $br;
  width: 18%;
  padding: 15px 10px;
}

.filters{
  // border: 1px solid red;
  margin-top: 20px;

  & > p{
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
}

.filterTitle{
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 0;
}